body {
  background-color: $lightBlue;
  font-family: $fontFamily;
  font-size: $fontSize;
  height: 100vh;
  @include flex($just: center, $align: center, $dir: column);
}

.main_wrapper {
  background-color: $white;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
  @include medq($break-m) {
    @include flex($dir: row);
    max-width: 1000px;
    height: 400px;
  }
}

p {
  margin: 2px;
  padding: 0;
}

.attribution {
  position: fixed;
  bottom: 0;
}
